@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-top{
    background-image: url("/images/bg-pattern.svg");
    height: 50vh;
    background-repeat: no-repeat;
}

.box {
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}
.circles{
    z-index: -1;
}
.title{
    z-index: 99;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7AEADF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7AEADF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*RANGE-SLIDER*/

input {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
}


input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 8px;
    background: #ECF0FB;
    border-radius: 5px;
    background-image: linear-gradient(#A4F3EB, #A4F3EB);
    background-size: 25% 100%;
    background-repeat: no-repeat;

}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #10D8C4;
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center center;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    cursor: grabbing;
    filter: drop-shadow(0 15px 30px rgb(0 255 231 / 0.6));

}






